.header {
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: darkslateblue;
    color: white;
}

.main {
    padding-top: 60px;
    height: 100%;
    margin-bottom: 0;
    bottom: 0;
}

.search-area {
    padding-left: 30px;
    background-color: lightgray;
    margin-bottom: 0;
    bottom: 0;
}

.search-area h4 {
    text-align: left;
}

.display-area {
    margin-bottom: 0;
}

.current-weather {
    outline: solid 1px black;
    margin: 20px 0;
    height: 240px;
}

.future-header {
    margin-bottom: 20px;
}

.future-weather {
    outline: solid 1px blue;
    height: 180px;
    padding-left: 0;
}

ul {
    list-style-type: none;
}