h1 {
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: darkslateblue;
    color: white;
}

.main {
    padding-top: 60px;
    height: 100%;
    margin-bottom: 0;
    bottom: 0;
}

.search-area {
    background-color: lightgray;
    margin-bottom: 0;
    bottom: 0;
}

.display-area {
    margin-bottom: 0;
    background-color: blueviolet;
}

ul {
    list-style-type: none;
}